*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

header { 
  margin-bottom: 6px;
  border: 2px solid #00a8cc;
  background: #00a8cc;
  border-radius: 4px;
}

h1 {
  padding: 10px;
  background-color: #00a8cc;
  color: #FFF;
  text-align: center;
}

main {
  display: flex;
}

.category-parents {
  border: 2px solid orange;
  display: flex;
  flex-direction: column;
  padding: 6px;
  margin: 8px;
}

.user-section {
  background-color: #ffa41b;
  border-radius: 10px;
}

h3 {
  text-align: center;
}

.display-user-info {
  background: #fcdfb3;
  padding:6px;
  border-radius: 4px;
}

.user-steps {
  border-radius: 4px;
  margin-bottom: 6px;
  text-align: center;
  background: #fcdfb3;
}

.user-minutes {
  border: 2px solid greenyellow;
  margin-bottom: 6px;
}

.user-flights {
  border: 2px solid greenyellow;
  margin-bottom: 6px;
}

.hydration-data {
  border: 2px solid blue;
  padding:6px;
}

.hydration-today {
  border: 2px solid blue;
  margin-bottom: 6px;
}

.hydration-week {
  border: 2px solid blue;
  margin-bottom: 6px;
}

.hydration-total-FlOz {
  border: 2px solid blue;
}

.sleep-data {
  border: 2px solid black;
  padding:6px;
}

.sleep-today {
  border: 2px solid black;
  padding:6px;
  margin-bottom: 6px;
}

.sleep-week {
  border: 2px solid black;
  padding:6px;
  margin-bottom: 6px;
}

.sleep-all-time {
  border: 2px solid black;
  padding:6px;
}

.step-data {
  border: 2px solid red;
  padding:6px;
  margin-bottom: 6px;
}

.flights-average {
  border: 2px solid red;
  padding:6px;
  margin-bottom: 6px;
}

.steps-today {
  border: 2px solid red;
  padding:6px;
  margin-bottom: 6px;
}

.steps-weekly {
  border: 2px solid red;
  padding:6px;
  margin-bottom: 6px;
}

.active-minutes {
  border: 2px solid red;
  padding:6px;
  margin-bottom: 6px;
}

.active-minutes-today {
  border: 2px solid red;
  padding:6px;
  margin-bottom: 6px;
}

.active-minutes-weekly {
  border: 2px solid red;
  padding:6px;
  margin-bottom: 6px;
}

.walking {
  border: 2px solid red;
  padding:6px;
  margin-bottom: 6px;
}

.mile-distance-today {
  border: 2px solid red;
  padding:6px;
  margin-bottom: 6px;
}

.flight-data-weekly {
  border: 2px solid red;
  padding:6px;
  margin-bottom: 6px;
}